@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins','san-serif';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #A1C3FF;

}

img {
    max-width: 100%
}

h1, h2 {
    margin-bottom: 15px;

}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 30;

}

/* NAVIGATION BAR */
.navbar{
    background: #3474E6;
    color: #FFF;
    height: 60px;

}

.navbar ul{
    list-style-type: none;
    display: flex;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: lightblue;
}

.navbar ul li {
    margin-left: 20px;
}

/* HEADER */
.header {
    background-color: #0A51cc;
    color: #fff;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 50px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BOXES */
.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background-color: #0A51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

.box i {
    margin-right: 10px;
}

@media(max-width:768px)  {
    .navbar {
        padding: 10px;
    }
    
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
        max-width: 500px;
    }

    .header img{
        padding: 20px;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}